{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1><i class="icon-folder-open"></i> {{ package.getName }} <small style="color:{{ color }}">{{ outdated > 0 ? 'Outdated' : 'Up to date' }}</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>Version</dt><dd>{{ package.getPrettyVersion }}</dd>
                <dt>Description</dt><dd>{{ package.getDescription }}</dd>
                <dt>Stability</dt><dd>{{ package.getStability }}</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="envTab">
                <li class="active">
                    <a href="#prod" data-toggle="tab">Runtime <span class="text-muted">({{ prod | length }})</span></a>
                </li>
                {% if dev | length %}
                <li>
                    <a href="#dev" data-toggle="tab">Development <span class="text-muted">({{ dev | length }})</span></a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                {% include 'table.html.twig' with {'active': true, 'id': 'prod', 'rows': prod} %}
                {% if dev | length %}
                    {% include 'table.html.twig' with {'active': false, 'id': 'dev', 'rows': dev} %}
                {% endif %}
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <p><strong class="text-{{ outdated > 0 ? 'danger' : 'success' }}">{{ outdated }}</strong> of <strong>{{ count }}</strong> dependencies are outdated. <i class="icon-{{ outdated > 0 ? 'frown' : 'smile' }} icon-2x"></i></p>
        </div>
    </div>
{% endblock content %}
