<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DependenSees</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet">
        <style>
        footer {
            height: 60px;
            background-color: rgb(245, 245, 245);
        }

        #credit {
            margin: 20px 0;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="page-header">
                        <h1>DependenSees <i class="icon-eye-open"></i></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <dl class="dl-horizontal">
                        <dt>Name</dt><dd>{{ package.getName }}</dd>
                        <dt>Version</dt><dd>{{ package.getPrettyVersion }}</dd>
                        <dt>Description</dt><dd>{{ package.getDescription }}</dd>
                        <dt>Stability</dt><dd>{{ package.getStability }}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <ul class="nav nav-tabs" id="envTab">
                        <li class="active">
                            <a href="#prod" data-toggle="tab">Runtime <span class="muted">({{ prod | length }})</span></a>
                        </li>
                        {% if dev | length %}
                        <li>
                            <a href="#dev" data-toggle="tab">Development <span class="muted">({{ dev | length }})</span></a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="prod">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th><th>Installed</th><th>Required</th><th>Available</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in prod %}
                                    <tr class="{{ row.color }}">
                                        <td><i class="icon-folder-open"></i> <a href="{{ row.href }}" target="_blank">{{ row.name }}</a></td>
                                        <td class="text-{{ row.color }}">{{ row.current }}</td>
                                        <td class="text-{{ row.color }}">{{ row.required }}</td>
                                        <td class="text-{{ row.color }}">{{ row.latest }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if dev | length %}
                        <div class="tab-pane" id="dev">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th><th>Installed</th><th>Required</th><th>Available</th>
                                    </tr>
                                </thead>
                                <tbody class="tab-pane" id="dev">
                                    {% for row in dev %}
                                    <tr class="{{ row.color }}">
                                        <td><i class="icon-folder-open"></i> <a href="{{ row.href }}" target="_blank">{{ row.name }}</a></td>
                                        <td class="text-{{ row.color }}">{{ row.current }}</td>
                                        <td class="text-{{ row.color }}">{{ row.required }}</td>
                                        <td class="text-{{ row.color }}">{{ row.latest }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span12">
                    <p><strong class="text-{{ outdated > 0 ? 'error' : 'success' }}">{{ outdated }}</strong> of <strong>{{ count }}</strong> dependencies are outdated. <i class="icon-{{ outdated > 0 ? 'frown' : 'smile' }} icon-2x"></i></p>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p class="muted" id="credit">
                    DependenSees {{ version }} written by <a href="http://florentviel.com" target="_blank">Florent Viel</a>
                </p>
            </div>
        </footer>
        <script src="assets/jquery/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>